doctype
html
  head
    title funcssion - The atomic CSS library
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet' href='/main.css')
    link(rel="shortcut icon",type="image/x-icon",href="/favicon.ico")
    link(rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js")
    script.
      hljs.initHighlightingOnLoad();
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-82391709-1', 'auto');
      ga('send', 'pageview');
    script(async,defer,src="https://buttons.github.io/buttons.js")
  body.m0.pt0.ph0.pb4.ff-system.fw300.cl-text
    != yield
