// BASE

// Colors
$colorMain: #888
$colorTitle: #333
$colorContrast: white
$colorBackground: white
// Fonts
$fontBody: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$fontHeadings: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$fontBodySize: 14px
$fontWeight: 400
$fontWeightBold: 500
$fontWeightBolder: 700
$fontWeightBoldest: 800
$fontWeightLight: 300
$fontWeightLighter: 200
$fontWeightLightest: 100
$fontLineHeight: 4/3
$headingsMultiplier: 3.14159

// Misc
$radiusDefault: 4px

// Breaking points (in terms of width)
$mobileWidth: 480px
$tabletWidth: 768px
$desktopWidth: 992px
$wideWidth: 1200px

// ADDITIONAL MODULES
// Colors
$colorSecondary: #ff9900
$colorPrimary: #00b8ff

// 7BB8E7