.ta-center
  .circular
    img.logo.rounded.pt2.pb0(src="/img/logo.png")
  h1.fs3.mb0.cl-secondary.fw600 fun
    span.cl-primary css
    | ion
  h2.fs14.cl-text.fw300.mt0.mb1 The atomic CSS library
.container
  .mv3.ta-center.fs18.fw300
    a.fw400(target='_blank',href='/funcssion-min.css') Download 
      span.fw600 v0.1&nbsp;
      | here
  h4.mt4.mb2
      p Documentation coming soon!
  h2 Core
  p ...
  hr
  .ta-right
    | By&nbsp;
    a(href='http://github.com/jasalo/funcssion',target='_blank') @jasalo