.ta-center
  .circular
    img.logo.rounded.pt2.pb0(src="/img/logo.svg")
  h1.fs25.mv0.cl-secondary.fw300 fun
    span.fw300.cl-primary css
    | ion
  h2.fs11.cl-body.body.fw200.mt02 An atomic and functional-like CSS library
.container
  .mv3.ta-center.fs18.fw300
    | v0.0.1 available&nbsp;
    a.fw400(target='_blank',href='/funcssion-min.css') here
  h4.mt4.mb2
      p Documentation coming soon!
  h2 Core
  p ...