// Super minimal CSS reset

*, *:before, *:after
  box-sizing: border-box

input, button, select, textarea
  font-family: inherit

img
  vertical-align: middle
  max-width: 100%
  height: auto

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
  color: $colorTitle
  font-weight: 600

.clearfix
  @media (max-width: $mobileWidth)
    &.flex
      display: block

// Text colors
.cl-primary, .cl-primary:hover
  color: $colorPrimary
.cl-secondary, .cl-secondary:hover
  color: $colorSecondary

// Background colors
.bg-primary
  background: $colorPrimary
.bg-secondary
  background: $colorSecondary

// Links
a
  color: $colorPrimary
  text-decoration: none
  &:hover, &:focus
    text-decoration: none
    color: lighten($colorPrimary,8%)
    cursor: pointer

// Buttons
.btn-primary
  background-color: $colorPrimary
.btn-secondary
  background-color: $colorSecondary

pre.code
  background: rgba(black,0.025)
  border-left: 3px solid $colorSecondary
  padding: 0.5rem 0.8rem
  code
    background: transparent

table.shorthand
  table-layout: fixed
  width: 100%
  td:first-child, th:first-child
    width: 28%
    padding: 0.4rem 0.2rem
  // td+td
  td
    border-bottom: 1px solid rgba(black,0.05)

p
  line-height: 1.25em
  strong
    font-weight: 600
    color: $colorTitle

ul
  strong
    color: $colorTitle

// Highlighting
.hljs
  display: block
  overflow-x: auto
  padding: 0.5em
  background: #FFFFFF
  color: #434f54

.hljs-subst
  color: #434f54

.hljs-keyword, .hljs-attribute, .hljs-selector-tag, .hljs-doctag, .hljs-name
  color: #00979D

.hljs-built_in, .hljs-literal, .hljs-bullet, .hljs-code, .hljs-addition
  color: #D35400

.hljs-regexp, .hljs-symbol, .hljs-variable, .hljs-template-variable, .hljs-link, .hljs-selector-attr, .hljs-selector-pseudo
  color: #00979D

.hljs-type, .hljs-string, .hljs-selector-id, .hljs-selector-class, .hljs-quote, .hljs-template-tag, .hljs-deletion
  color: #005C5F

.hljs-title, .hljs-section
  color: #880000
  font-weight: bold

.hljs-comment
  color: rgba(149, 165, 166, 0.8)

.hljs-meta-keyword
  color: #728E00

.hljs-meta
  color: #728E00
  color: #434f54

.hljs-emphasis
  font-style: italic

.hljs-strong
  font-weight: bold

.hljs-function
  color: #728E00

.hljs-number
  color: #8A7B52