// Foreground color
.cl-text
  color: $colorText
.cl-title
  color: $colorTitle
.cl-contrast
  color: $colorContrast

// Backgrounds
.bg-text
  background: $colorText
.bg-title
  background: $colorTitle
.bg-contrast
  background: $colorContrast
