// Display
$displays: block inline inline-block table table-row table-cell flex
@include prop-by-values(null, display, $displays)

// Overflow
$overflows: hidden visible scroll auto
@include prop-by-values(of-, overflow, $overflows)
$overflowsX: hidden visible scroll auto
@include prop-by-values(ofx-, overflow-x, $overflowsX)
$overflowsY: hidden visible scroll auto
@include prop-by-values(ofy-, overflow-y, $overflowsY)

// Visibility
$visibilities: visible hidden collapse
@include prop-by-values(v-, visibility, $visibilities)
