// In the absence of a better location for these classes... Useful nonetheless!

hr.hr
  border: 0
  border-top: 1px solid rgba(black,0.08)

.cursor-pointer
  cursor: pointer

.circular
  border-radius: 50%
