// Headings
h1, .h1
  font-size: $headingsMultiplier
  margin: .4em 0
h2, .h2
  font-size: ($headingsMultiplier * .85)
  margin: .35em 0
h3, .h3
  font-size: ($headingsMultiplier * .72)
  margin: .3em 0
h4, .h4
  font-size: ($headingsMultiplier * .6)
  margin: .2em 0
h5, .h5
  font-size: ($headingsMultiplier * .48)
  margin: .15em 0
h6, .h6
  font-size: ($headingsMultiplier * .4)
  margin: .125em 0

// Font family
$fontFamilies: sans-serif serif monospace cursive fantasy initial
@include prop-by-values(ff-, font-family, $fontFamilies)
// Default system font (varies depending on OS, but aims to always look good). Used in GitHub nowadays for example.
.ff-system
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

// Font variant
$fontVariants: normal small-caps
@include prop-by-values(fv-, font-variant, $fontVariants)

// Font weight
$fontWeights: lighter normal bold italic
@include prop-by-values(fw-, font-weight, $fontWeights)
$fontWeightsNumbers: 100 200 300 400 500 600 700 800 900
@include prop-by-values(fw, font-weight, $fontWeightsNumbers)

// Text alignment
$textAlignments: center left right justify
@include prop-by-values(ta-, text-align, $textAlignments)

// Text decoration
$textDecorations: none underline overline
@include prop-by-values(td-, text-decoration, $textDecorations)

// Text transform
$textTransforms: none uppercase lowercase capitalize inherit
@include prop-by-values(tt-, text-transform, $textTransforms)

// Font sizes
@include prop-by-steps(fs, (font-size), 'rem', 2, .1, .4)
@include prop-by-steps(fs, (font-size), 'rem', 4, .5, 2)
@include prop-by-steps(fs, (font-size), 'em', 2, .1, .4)

// Line heights
@include prop-by-steps(lh, (line-height), 'rem', 2, .1, .4)
@include prop-by-steps(lh, (line-height), 'rem', 4, .5, 2)
@include prop-by-steps(lh, (line-height), 'em', 2, .1, .4)

